In [65]:
# ADVANCED DATABASES - LAB #3
# Creating database and normalization

# Data set: (len(your_name) + len(your_surname))% 6 = (6+4)%6
# Data set: 4 ,,superbowl-history-1967-2020"

In [66]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

# database_type://user:password@database_url:port/database_name
db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

engine = create_engine(db_string)

In [67]:
import pandas as pd
df = pd.read_csv("superbowl.csv")

In [68]:
df.head()

,Date,SB,Winner,Winner Pts,Loser,Loser Pts,MVP,Stadium,City,State
0,Feb 2 2020,LIV (54),Kansas City Chiefs,31,San Francisco 49ers,20,Patrick Mahomes,Hard Rock Stadium,Miami Gardens,Florida
1,Feb 3 2019,LIII (53),New England Patriots,13,Los Angeles Rams,3,Julian Edelman,Mercedes-Benz Stadium,Atlanta,Georgia
2,Feb 4 2018,LII (52),Philadelphia Eagles,41,New England Patriots,33,Nick Foles,U.S. Bank Stadium,Minneapolis,Minnesota
3,Feb 5 2017,LI (51),New England Patriots,34,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas
4,Feb 7 2016,50,Denver Broncos,24,Carolina Panthers,10,Von Miller,Levi's Stadium,Santa Clara,California

In [69]:
from sqlalchemy.ext.declarative import declarative_base

# Run process of mapping existing tables in a database to class and give us tools to declare new tables schema
Base = declarative_base()

In [70]:
# Add tools of mapping variablis types from databse to Python => declare new table schema
from sqlalchemy import Column, Integer, Float, String, Date
from sqlalchemy import ForeignKey

# TEAM           (id_team, name)
# MATCH          (id_match, date, sb)
# MATCH'S RESULT (id, id_match, id_stadium, winner (id_team), winner points, loser(id_team), loser points, mvp)
# STADIUM        (id_stadium, stadium name, city, state)

In [71]:
# table "TEAM" initialization

class Team(Base):
    __tablename__ = "teams"
    id            = Column(Integer, primary_key=True)
    team_name     = Column(String(50))

    def __repr__(self):
        return "<teams(id='{0}', name={1})>".format(self.id, self.team_name)

In [72]:
# table "MATCH" initialization

class Match(Base):
    __tablename__ = "matches"
    id            = Column(Integer, primary_key=True)
    date          = Column(Date)
    sb            = Column(String(50))

    def __repr__(self):
        return "<matches(id='{0}', date={1}, sb={2})>".format(self.id, self.date, self.sb)

In [73]:
# table "MATCH RESULT" initialization

class MatchResult(Base):
    __tablename__ = "match_results"
    id            = Column(Integer, primary_key=True)
    id_match      = Column(Integer, ForeignKey("matches.id"))
    id_stadium    = Column(Integer, ForeignKey("stadiums.id"))
    winner        = Column(Integer, ForeignKey("teams.id"))
    winner_points = Column(Integer)
    loser         = Column(Integer, ForeignKey("teams.id"))
    loser_points  = Column(Integer)
    mvp           = Column(String(50))

    def __repr__(self):
        return "<match_results(id='{0}', id_stadium={1}, winner={2}, winner_points={3}, loser={4}, loser_points={5}, mvp={6})>".format(
            self.id, self.id_stadium, self.winner, self.winner_points, self.loser, self.loser_points, self.mvp)

In [74]:
# table "STADIUM" initialization

class Stadium(Base):
    __tablename__ = "stadiums"
    id            = Column(Integer, primary_key=True)
    stadium_name  = Column(String(50))
    city          = Column(String(50))
    state         = Column(String(50))

    def __repr__(self):
        return "<matches(id='{0}', name={1}, city={2}, state={3})>".format(
            self.id, self.stadium_name, self.city, self.state)

In [75]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

In [76]:
# Save data from DataFrame superbowl.csv to variables in a database
for index, row in df.iterrows():
    date          = row['Date']
    sb            = row['SB']
    winner        = row['Winner']
    winner_points = row['Winner Pts']
    loser         = row['Loser']
    loser_points  = row[ 'Loser Pts']
    mvp           = row['MVP']
    stadium_name  = row['Stadium']
    city          = row['City']
    state         = row['State']

In [77]:
# Commit changes to the database

session.commit()