In [1]:
# ADVANCED DATABASES - LAB #2
# Introdaction to SQLAlchemy


# SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.

# It provides a full suite of well known enterprise-level persistence patterns, designed for efficient and high-performing database access,
# adapted into a simple and Pythonic domain language.

# Object Relational Mapper (ORM) is a programming technique for converting data between incompatible type systems
# using object-oriented programming languages. This creates, in effect, a "virtual object database"
# that can be used from within the programming language.

In [2]:
#EXERCISE 1
# Create a script to connection with database

from sqlalchemy import create_engine

db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"
# create_engine is just interface to connection database with program.
db = create_engine(db_string)

In [3]:
# Database structure are describe here:
# https://www.postgresqltutorial.com/postgresql-sample-database/

print(db.table_names())

['staff', 'category', 'film_category', 'country', 'actor', 'language', 'store', 'rental', 'city', 'address', 'film_actor', 'payment', 'users', 'film', 'customer', 'inventory']

In [4]:
from sqlalchemy import MetaData, Table

metadata = MetaData()
category = Table("category", metadata, autoload=True, autoload_with=db)
film = Table("film", metadata, autoload=True, autoload_with=db)

In [5]:
# Content of ,,category" (column's name & type, ...)
print(repr(category))

Table('category', MetaData(bind=None), Column('category_id', INTEGER(), table=<category>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f963825e3d0>, for_update=False)), Column('name', VARCHAR(length=25), table=<category>, nullable=False), Column('last_update', TIMESTAMP(), table=<category>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f963825e2d0>, for_update=False)), schema=None)

In [6]:
# Content of ,,category" (only column's names)
print(category.columns.keys())

['category_id', 'name', 'last_update']

In [7]:
# EXERCISE 2
# Based on information_schema, present how to explore the relationships between the tables: 
# 1) staff and country
#    STAFF (staff_id) --> ADDRESS (address_id) --> CITY (city_id) --> COUNTRY (country_id)
# 2) actor, language, and film
#    LANGUAGE (language_id) --> FILM (film_id) --> FILM_ACTOR (actor_id) --> ACTOR (actor_id)

staff = Table("staff", metadata, autoload=True, autoload_with=db)
country = Table("country", metadata, autoload=True, autoload_with=db)

In [8]:
print(repr(staff)) #staff_id is a primary key

Table('staff', MetaData(bind=None), Column('staff_id', INTEGER(), table=<staff>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f9628c50850>, for_update=False)), Column('first_name', VARCHAR(length=45), table=<staff>, nullable=False), Column('last_name', VARCHAR(length=45), table=<staff>, nullable=False), Column('address_id', SMALLINT(), ForeignKey('address.address_id'), table=<staff>, nullable=False), Column('email', VARCHAR(length=50), table=<staff>), Column('store_id', SMALLINT(), table=<staff>, nullable=False), Column('active', BOOLEAN(), table=<staff>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f9628c50cd0>, for_update=False)), Column('username', VARCHAR(length=16), table=<staff>, nullable=False), Column('password', VARCHAR(length=40), table=<staff>), Column('last_update', TIMESTAMP(), table=<staff>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f9628c50810>, for_update=False)), Column('picture', BYTEA(), table=<staff>), schema=None)

In [9]:
print(repr(country)) #country_id is a primary key

Table('country', MetaData(bind=None), Column('country_id', INTEGER(), table=<country>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f9628c4ec50>, for_update=False)), Column('country', VARCHAR(length=50), table=<country>, nullable=False), Column('last_update', TIMESTAMP(), table=<country>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f9628c3e110>, for_update=False)), schema=None)

In [10]:
actor = Table("actor", metadata, autoload=True, autoload_with=db)
language = Table("language", metadata, autoload=True, autoload_with=db)

In [11]:
print(repr(actor)) #actor_id is a primary key

Table('actor', MetaData(bind=None), Column('actor_id', INTEGER(), table=<actor>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f9628c35750>, for_update=False)), Column('first_name', VARCHAR(length=45), table=<actor>, nullable=False), Column('last_name', VARCHAR(length=45), table=<actor>, nullable=False), Column('last_update', TIMESTAMP(), table=<actor>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f9628c22050>, for_update=False)), schema=None)

In [12]:
print(repr(language)) #language_id is a primary key

Table('language', MetaData(bind=None), Column('language_id', INTEGER(), table=<language>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f96298e1310>, for_update=False)), Column('name', CHAR(length=20), table=<language>, nullable=False), Column('last_update', TIMESTAMP(), table=<language>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f96298e1490>, for_update=False)), schema=None)

In [13]:
print(repr(film)) #film_id is a primary key

Table('film', MetaData(bind=None), Column('film_id', INTEGER(), table=<film>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f963a3bc990>, for_update=False)), Column('title', VARCHAR(length=255), table=<film>, nullable=False), Column('description', TEXT(), table=<film>), Column('release_year', INTEGER(), table=<film>), Column('language_id', SMALLINT(), ForeignKey('language.language_id'), table=<film>, nullable=False), Column('rental_duration', SMALLINT(), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f96298e1a90>, for_update=False)), Column('rental_rate', NUMERIC(precision=4, scale=2), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f96298e1b90>, for_update=False)), Column('length', SMALLINT(), table=<film>), Column('replacement_cost', NUMERIC(precision=5, scale=2), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f96298e1ed0>, for_update=False)), Column('rating', ENUM('G', 'PG', 'PG-13', 'R', 'NC-17', name='mpaa_rating'), table=<film>, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f96298e1250>, for_update=False)), Column('last_update', TIMESTAMP(), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f9628c221d0>, for_update=False)), Column('special_features', ARRAY(TEXT()), table=<film>), Column('fulltext', TSVECTOR(), table=<film>, nullable=False), schema=None)

In [14]:
# EXERCISE 3
# How many categories of films we have in the rental?

# The basic select in SQLAlchemy has form:
# stmt = 'select * from table'

from sqlalchemy import select

stmt = 'select count(distinct c.name) from category c join film_category fc on (c.category_id=fc.category_id) join film f on (fc.film_id=f.film_id) join inventory i on (f.film_id=i.film_id) join rental r on (i.inventory_id=r.inventory_id)'

# Execute the statement and fetch the results
# Function execute make a request to a database and fetchall method get our results from an executed query.
results = db.execute(stmt).fetchall()

# Print results
print(results)

[(16,)]

In [15]:
# EXERCISE 4
# Display list of categories with limit 2.

stmt = select([category])
results = db.execute(stmt).fetchmany(size=2)
for result in results:
   print(result.name)

Action
Animation

In [16]:
# EXERCISE 5
# Find the oldest and youngest film in rental.

stmt3 = 'select f.title, min(f.release_year) as min_year from category c join film_category fc on (c.category_id=fc.category_id) join film f on (fc.film_id=f.film_id) join inventory i on (f.film_id=i.film_id) join rental r on (i.inventory_id=r.inventory_id) group by f.title'
results = db.execute(stmt3).fetchmany(size=3)
print(results)

stmt4 = 'select f.title, max(f.release_year) as max_year from category c join film_category fc on (c.category_id=fc.category_id) join film f on (fc.film_id=f.film_id) join inventory i on (f.film_id=i.film_id) join rental r on (i.inventory_id=r.inventory_id) group by f.title'
results = db.execute(stmt4).fetchmany(size=3)
print(results)
#all filmsare from 2006;/

[('Frontier Cabin', 2006), ('Cruelty Unforgiven', 2006), ('Arachnophobia Rollercoaster', 2006)]
[('Frontier Cabin', 2006), ('Cruelty Unforgiven', 2006), ('Arachnophobia Rollercoaster', 2006)]

In [17]:
# EXERCISE 6
# Find all actor with a name: Olympia, Julia, Ellen. How can you check correction of your query?

from sqlalchemy.sql import select
from sqlalchemy import or_

actor = Table("actor", metadata, autoload=True, autoload_with=db)

stmt = select([actor])
stmt = stmt.where(or_(actor.columns.first_name == 'Olympia', actor.columns.first_name == 'Julia', actor.columns.first_name == 'Ellen'))
results = db.execute(stmt).fetchall()
for result in results:
    print(result)

(27, 'Julia', 'Mcqueen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(47, 'Julia', 'Barrymore', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(93, 'Ellen', 'Presley', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(171, 'Olympia', 'Pfeiffer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(186, 'Julia', 'Zellweger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(199, 'Julia', 'Fawcett', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))

In [18]:
# Correction check of a query
print(stmt)

SELECT actor.actor_id, actor.first_name, actor.last_name, actor.last_update
FROM actor
WHERE actor.first_name = :first_name_1 OR actor.first_name = :first_name_2 OR actor.first_name = :first_name_3