In [46]:
# ADVANCED DATABASES - LAB #4 #5
# Analysis of input data and constraints of columns
# Continuation of lab #3

# Data set: (len(your_name) + len(your_surname))% 6 = (6+4)%6
# Data set: 4 ,,superbowl-history-1967-2020"

In [47]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

# database_type://user:password@database_url:port/database_name
db_string = "postgresql://postgres:postgres@localhost:5432/postgres"

engine = create_engine(db_string)

In [49]:
# Read data from superbowl.csv
import pandas as pd

df = pd.read_csv("superbowl.csv")

In [52]:
df.head()

,Date,SB,Winner,Winner Pts,Loser,Loser Pts,MVP,Stadium,City,State
0,Feb 2 2020,LIV (54),Kansas City Chiefs,31,San Francisco 49ers,20,Patrick Mahomes,Hard Rock Stadium,Miami Gardens,Florida
1,Feb 3 2019,LIII (53),New England Patriots,13,Los Angeles Rams,3,Julian Edelman,Mercedes-Benz Stadium,Atlanta,Georgia
2,Feb 4 2018,LII (52),Philadelphia Eagles,41,New England Patriots,33,Nick Foles,U.S. Bank Stadium,Minneapolis,Minnesota
3,Feb 5 2017,LI (51),New England Patriots,34,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas
4,Feb 7 2016,50,Denver Broncos,24,Carolina Panthers,10,Von Miller,Levi's Stadium,Santa Clara,California

In [53]:
print(data.columns)

Index(['Date', 'SB', 'Winner', 'Winner Pts', 'Loser', 'Loser Pts', 'MVP',
       'Stadium', 'City', 'State'],
      dtype='object')

In [54]:
print(data.Date.describe())

count              54
unique             54
top       Jan 31 1999
freq                1
Name: Date, dtype: object

In [ ]:
# TEAM TABLE

In [55]:
winner_list = data['Winner'].unique()
print(winner_list)

['Kansas City Chiefs' 'New England Patriots' 'Philadelphia Eagles'
 'Denver Broncos' 'Seattle Seahawks' 'Baltimore Ravens' 'New York Giants'
 'Green Bay Packers' 'New Orleans Saints' 'Pittsburgh Steelers'
 'Indianapolis Colts' 'Tampa Bay Buccaneers' 'St. Louis Rams'
 'Dallas Cowboys' 'San Francisco 49ers' 'Washington Redskins'
 'Chicago Bears' 'Los Angeles Raiders' 'Oakland Raiders' 'Miami Dolphins'
 'Baltimore Colts' 'New York Jets']

In [56]:
loser_list = data['Loser'].unique()
print(loser_list)

['San Francisco 49ers' 'Los Angeles Rams' 'New England Patriots'
 'Atlanta Falcons' 'Carolina Panthers' 'Seattle Seahawks' 'Denver Broncos'
 'Pittsburgh Steelers' 'Indianapolis Colts' 'Arizona Cardinals'
 'Chicago Bears' 'Philadelphia Eagles' 'Oakland Raiders' 'St. Louis Rams'
 'New York Giants' 'Tennessee Titans' 'Green Bay Packers'
 'San Diego Chargers' 'Buffalo Bills' 'Cincinnati Bengals'
 'Miami Dolphins' 'Washington Redskins' 'Dallas Cowboys'
 'Minnesota Vikings' 'Baltimore Colts' 'Kansas City Chiefs']

In [45]:
loser_list.rename(columns = {'Loser':'Winner'})

AttributeError: 'numpy.ndarray' object has no attribute 'rename'

In [59]:
# Table "MATCH"
match_list = data[['Date', 'SB']]
print(match_list)

In [63]:
# Table "MATCH RESULT"
match_result_list = data[['Date', 'Stadium', 'Winner', 'Winner Pts', 'Loser', 'Loser Pts', 'MVP']]
print(match_result_list)

           Date                        Stadium                Winner  \
0    Feb 2 2020              Hard Rock Stadium    Kansas City Chiefs
1    Feb 3 2019          Mercedes-Benz Stadium  New England Patriots
2    Feb 4 2018              U.S. Bank Stadium   Philadelphia Eagles
3    Feb 5 2017                    NRG Stadium  New England Patriots
4    Feb 7 2016                 Levi's Stadium        Denver Broncos
5    Feb 1 2015  University of Phoenix Stadium  New England Patriots
6    Feb 2 2014                MetLife Stadium      Seattle Seahawks
7    Feb 3 2013        Mercedes-Benz Superdome      Baltimore Ravens
8    Feb 5 2012              Lucas Oil Stadium       New York Giants
9    Feb 6 2011                Cowboys Stadium     Green Bay Packers
10   Feb 7 2010               Sun Life Stadium    New Orleans Saints
11   Feb 1 2009          Raymond James Stadium   Pittsburgh Steelers
12   Feb 3 2008  University of Phoenix Stadium       New York Giants
13   Feb 4 2007                Dolphin Stadium    Indianapolis Colts
14   Feb 5 2006                     Ford Field   Pittsburgh Steelers
15   Feb 6 2005                 Alltel Stadium  New England Patriots
16   Feb 1 2004                Reliant Stadium  New England Patriots
17  Jan 26 2003               Qualcomm Stadium  Tampa Bay Buccaneers
18   Feb 3 2002            Louisiana Superdome  New England Patriots
19  Jan 28 2001          Raymond James Stadium      Baltimore Ravens
20  Jan 30 2000                   Georgia Dome        St. Louis Rams
21  Jan 31 1999             Pro Player Stadium        Denver Broncos
22  Jan 25 1998               Qualcomm Stadium        Denver Broncos
23  Jan 26 1997            Louisiana Superdome     Green Bay Packers
24  Jan 28 1996              Sun Devil Stadium        Dallas Cowboys
25  Jan 29 1995             Joe Robbie Stadium   San Francisco 49ers
26  Jan 30 1994                   Georgia Dome        Dallas Cowboys
27  Jan 31 1993                      Rose Bowl        Dallas Cowboys
28  Jan 26 1992                      Metrodome   Washington Redskins
29  Jan 27 1991                  Tampa Stadium       New York Giants
30  Jan 28 1990            Louisiana Superdome   San Francisco 49ers
31  Jan 22 1989             Joe Robbie Stadium   San Francisco 49ers
32  Jan 31 1988            Jack Murphy Stadium   Washington Redskins
33  Jan 25 1987                      Rose Bowl       New York Giants
34  Jan 26 1986            Louisiana Superdome         Chicago Bears
35  Jan 20 1985               Stanford Stadium   San Francisco 49ers
36  Jan 22 1984                  Tampa Stadium   Los Angeles Raiders
37  Jan 30 1983                      Rose Bowl   Washington Redskins
38  Jan 24 1982             Pontiac Silverdome   San Francisco 49ers
39  Jan 25 1981            Louisiana Superdome       Oakland Raiders
40  Jan 20 1980                      Rose Bowl   Pittsburgh Steelers
41  Jan 21 1979                    Orange Bowl   Pittsburgh Steelers
42  Jan 15 1978                      Superdome        Dallas Cowboys
43   Jan 9 1977                      Rose Bowl       Oakland Raiders
44  Jan 18 1976                    Orange Bowl   Pittsburgh Steelers
45  Jan 12 1975                 Tulane Stadium   Pittsburgh Steelers
46  Jan 13 1974                   Rice Stadium        Miami Dolphins
47  Jan 14 1973              Memorial Coliseum        Miami Dolphins
48  Jan 16 1972                 Tulane Stadium        Dallas Cowboys
49  Jan 17 1971                    Orange Bowl       Baltimore Colts
50  Jan 11 1970                 Tulane Stadium    Kansas City Chiefs
51  Jan 12 1969                    Orange Bowl         New York Jets
52  Jan 14 1968                    Orange Bowl     Green Bay Packers
53  Jan 15 1967              Memorial Coliseum     Green Bay Packers

    Winner Pts                 Loser  Loser Pts                        MVP
0           31   San Francisco 49ers         20            Patrick Mahomes
1           13      Los Angeles Rams          3             Julian Edelman
2           41  New England Patriots         33                 Nick Foles
3           34       Atlanta Falcons         28                  Tom Brady
4           24     Carolina Panthers         10                 Von Miller
5           28      Seattle Seahawks         24                  Tom Brady
6           43        Denver Broncos          8              Malcolm Smith
7           34   San Francisco 49ers         31                 Joe Flacco
8           21  New England Patriots         17                Eli Manning
9           31   Pittsburgh Steelers         25              Aaron Rodgers
10          31    Indianapolis Colts         17                 Drew Brees
11          27     Arizona Cardinals         23            Santonio Holmes
12          17  New England Patriots         14                Eli Manning
13          29         Chicago Bears         17             Peyton Manning
14          21      Seattle Seahawks         10                 Hines Ward
15          24   Philadelphia Eagles         21               Deion Branch
16          32     Carolina Panthers         29                  Tom Brady
17          48       Oakland Raiders         21             Dexter Jackson
18          20        St. Louis Rams         17                  Tom Brady
19          34       New York Giants          7                 Ray Lewis+
20          23      Tennessee Titans         16               Kurt Warner+
21          34       Atlanta Falcons         19                John Elway+
22          31     Green Bay Packers         24             Terrell Davis+
23          35  New England Patriots         21             Desmond Howard
24          27   Pittsburgh Steelers         17                Larry Brown
25          49    San Diego Chargers         26               Steve Young+
26          30         Buffalo Bills         13              Emmitt Smith+
27          52         Buffalo Bills         17               Troy Aikman+
28          37         Buffalo Bills         24                Mark Rypien
29          20         Buffalo Bills         19             Ottis Anderson
30          55        Denver Broncos         10               Joe Montana+
31          20    Cincinnati Bengals         16                Jerry Rice+
32          42        Denver Broncos         10              Doug Williams
33          39        Denver Broncos         20                 Phil Simms
34          46  New England Patriots         10              Richard Dent+
35          38        Miami Dolphins         16               Joe Montana+
36          38   Washington Redskins          9              Marcus Allen+
37          27        Miami Dolphins         17              John Riggins+
38          26    Cincinnati Bengals         21               Joe Montana+
39          27   Philadelphia Eagles         10               Jim Plunkett
40          31      Los Angeles Rams         19            Terry Bradshaw+
41          35        Dallas Cowboys         31            Terry Bradshaw+
42          27        Denver Broncos         10  Harvey MartinRandy White+
43          32     Minnesota Vikings         14          Fred Biletnikoff+
44          21        Dallas Cowboys         17                Lynn Swann+
45          16     Minnesota Vikings          6             Franco Harris+
46          24     Minnesota Vikings          7              Larry Csonka+
47          14   Washington Redskins          7                 Jake Scott
48          24        Miami Dolphins          3            Roger Staubach+
49          16        Dallas Cowboys         13               Chuck Howley
50          23     Minnesota Vikings          7                Len Dawson+
51          16       Baltimore Colts          7                Joe Namath+
52          33       Oakland Raiders         14                Bart Starr+
53          35    Kansas City Chiefs         10                Bart Starr+

In [66]:
match_result_list = match_result_list.rename(columns = {'Date':'id_match'})
match_result_list = match_result_list.rename(columns = {'Stadium':'id_stadium'})
match_result_list = match_result_list.rename(columns = {'Winner':'id_winner'})
match_result_list = match_result_list.rename(columns = {'Loser':'id_loser'})
print(match_result_list)

       id_match                     id_stadium             id_winner  \
0    Feb 2 2020              Hard Rock Stadium    Kansas City Chiefs
1    Feb 3 2019          Mercedes-Benz Stadium  New England Patriots
2    Feb 4 2018              U.S. Bank Stadium   Philadelphia Eagles
3    Feb 5 2017                    NRG Stadium  New England Patriots
4    Feb 7 2016                 Levi's Stadium        Denver Broncos
5    Feb 1 2015  University of Phoenix Stadium  New England Patriots
6    Feb 2 2014                MetLife Stadium      Seattle Seahawks
7    Feb 3 2013        Mercedes-Benz Superdome      Baltimore Ravens
8    Feb 5 2012              Lucas Oil Stadium       New York Giants
9    Feb 6 2011                Cowboys Stadium     Green Bay Packers
10   Feb 7 2010               Sun Life Stadium    New Orleans Saints
11   Feb 1 2009          Raymond James Stadium   Pittsburgh Steelers
12   Feb 3 2008  University of Phoenix Stadium       New York Giants
13   Feb 4 2007                Dolphin Stadium    Indianapolis Colts
14   Feb 5 2006                     Ford Field   Pittsburgh Steelers
15   Feb 6 2005                 Alltel Stadium  New England Patriots
16   Feb 1 2004                Reliant Stadium  New England Patriots
17  Jan 26 2003               Qualcomm Stadium  Tampa Bay Buccaneers
18   Feb 3 2002            Louisiana Superdome  New England Patriots
19  Jan 28 2001          Raymond James Stadium      Baltimore Ravens
20  Jan 30 2000                   Georgia Dome        St. Louis Rams
21  Jan 31 1999             Pro Player Stadium        Denver Broncos
22  Jan 25 1998               Qualcomm Stadium        Denver Broncos
23  Jan 26 1997            Louisiana Superdome     Green Bay Packers
24  Jan 28 1996              Sun Devil Stadium        Dallas Cowboys
25  Jan 29 1995             Joe Robbie Stadium   San Francisco 49ers
26  Jan 30 1994                   Georgia Dome        Dallas Cowboys
27  Jan 31 1993                      Rose Bowl        Dallas Cowboys
28  Jan 26 1992                      Metrodome   Washington Redskins
29  Jan 27 1991                  Tampa Stadium       New York Giants
30  Jan 28 1990            Louisiana Superdome   San Francisco 49ers
31  Jan 22 1989             Joe Robbie Stadium   San Francisco 49ers
32  Jan 31 1988            Jack Murphy Stadium   Washington Redskins
33  Jan 25 1987                      Rose Bowl       New York Giants
34  Jan 26 1986            Louisiana Superdome         Chicago Bears
35  Jan 20 1985               Stanford Stadium   San Francisco 49ers
36  Jan 22 1984                  Tampa Stadium   Los Angeles Raiders
37  Jan 30 1983                      Rose Bowl   Washington Redskins
38  Jan 24 1982             Pontiac Silverdome   San Francisco 49ers
39  Jan 25 1981            Louisiana Superdome       Oakland Raiders
40  Jan 20 1980                      Rose Bowl   Pittsburgh Steelers
41  Jan 21 1979                    Orange Bowl   Pittsburgh Steelers
42  Jan 15 1978                      Superdome        Dallas Cowboys
43   Jan 9 1977                      Rose Bowl       Oakland Raiders
44  Jan 18 1976                    Orange Bowl   Pittsburgh Steelers
45  Jan 12 1975                 Tulane Stadium   Pittsburgh Steelers
46  Jan 13 1974                   Rice Stadium        Miami Dolphins
47  Jan 14 1973              Memorial Coliseum        Miami Dolphins
48  Jan 16 1972                 Tulane Stadium        Dallas Cowboys
49  Jan 17 1971                    Orange Bowl       Baltimore Colts
50  Jan 11 1970                 Tulane Stadium    Kansas City Chiefs
51  Jan 12 1969                    Orange Bowl         New York Jets
52  Jan 14 1968                    Orange Bowl     Green Bay Packers
53  Jan 15 1967              Memorial Coliseum     Green Bay Packers

    Winner Pts              id_loser  Loser Pts                        MVP
0           31   San Francisco 49ers         20            Patrick Mahomes
1           13      Los Angeles Rams          3             Julian Edelman
2           41  New England Patriots         33                 Nick Foles
3           34       Atlanta Falcons         28                  Tom Brady
4           24     Carolina Panthers         10                 Von Miller
5           28      Seattle Seahawks         24                  Tom Brady
6           43        Denver Broncos          8              Malcolm Smith
7           34   San Francisco 49ers         31                 Joe Flacco
8           21  New England Patriots         17                Eli Manning
9           31   Pittsburgh Steelers         25              Aaron Rodgers
10          31    Indianapolis Colts         17                 Drew Brees
11          27     Arizona Cardinals         23            Santonio Holmes
12          17  New England Patriots         14                Eli Manning
13          29         Chicago Bears         17             Peyton Manning
14          21      Seattle Seahawks         10                 Hines Ward
15          24   Philadelphia Eagles         21               Deion Branch
16          32     Carolina Panthers         29                  Tom Brady
17          48       Oakland Raiders         21             Dexter Jackson
18          20        St. Louis Rams         17                  Tom Brady
19          34       New York Giants          7                 Ray Lewis+
20          23      Tennessee Titans         16               Kurt Warner+
21          34       Atlanta Falcons         19                John Elway+
22          31     Green Bay Packers         24             Terrell Davis+
23          35  New England Patriots         21             Desmond Howard
24          27   Pittsburgh Steelers         17                Larry Brown
25          49    San Diego Chargers         26               Steve Young+
26          30         Buffalo Bills         13              Emmitt Smith+
27          52         Buffalo Bills         17               Troy Aikman+
28          37         Buffalo Bills         24                Mark Rypien
29          20         Buffalo Bills         19             Ottis Anderson
30          55        Denver Broncos         10               Joe Montana+
31          20    Cincinnati Bengals         16                Jerry Rice+
32          42        Denver Broncos         10              Doug Williams
33          39        Denver Broncos         20                 Phil Simms
34          46  New England Patriots         10              Richard Dent+
35          38        Miami Dolphins         16               Joe Montana+
36          38   Washington Redskins          9              Marcus Allen+
37          27        Miami Dolphins         17              John Riggins+
38          26    Cincinnati Bengals         21               Joe Montana+
39          27   Philadelphia Eagles         10               Jim Plunkett
40          31      Los Angeles Rams         19            Terry Bradshaw+
41          35        Dallas Cowboys         31            Terry Bradshaw+
42          27        Denver Broncos         10  Harvey MartinRandy White+
43          32     Minnesota Vikings         14          Fred Biletnikoff+
44          21        Dallas Cowboys         17                Lynn Swann+
45          16     Minnesota Vikings          6             Franco Harris+
46          24     Minnesota Vikings          7              Larry Csonka+
47          14   Washington Redskins          7                 Jake Scott
48          24        Miami Dolphins          3            Roger Staubach+
49          16        Dallas Cowboys         13               Chuck Howley
50          23     Minnesota Vikings          7                Len Dawson+
51          16       Baltimore Colts          7                Joe Namath+
52          33       Oakland Raiders         14                Bart Starr+
53          35    Kansas City Chiefs         10                Bart Starr+

In [70]:
# Table "STADIUM"
stadium_list = data[['Stadium', 'City', 'State']].drop_duplicates().reset_index().drop(columns = ['index']);
print(stadium_list)

                          Stadium             City       State
0               Hard Rock Stadium    Miami Gardens     Florida
1           Mercedes-Benz Stadium          Atlanta     Georgia
2               U.S. Bank Stadium      Minneapolis   Minnesota
3                     NRG Stadium          Houston       Texas
4                  Levi's Stadium      Santa Clara  California
5   University of Phoenix Stadium         Glendale     Arizona
6                 MetLife Stadium  East Rutherford  New Jersey
7         Mercedes-Benz Superdome      New Orleans   Louisiana
8               Lucas Oil Stadium     Indianapolis     Indiana
9                 Cowboys Stadium        Arlington       Texas
10               Sun Life Stadium    Miami Gardens     Florida
11          Raymond James Stadium            Tampa     Florida
12                Dolphin Stadium    Miami Gardens     Florida
13                     Ford Field          Detroit    Michigan
14                 Alltel Stadium     Jacksonville     Florida
15                Reliant Stadium          Houston       Texas
16               Qualcomm Stadium        San Diego  California
17            Louisiana Superdome      New Orleans   Louisiana
18                   Georgia Dome          Atlanta     Georgia
19             Pro Player Stadium    Miami Gardens     Florida
20              Sun Devil Stadium            Tempe     Arizona
21             Joe Robbie Stadium    Miami Gardens     Florida
22                      Rose Bowl         Pasadena  California
23                      Metrodome      Minneapolis   Minnesota
24                  Tampa Stadium            Tampa     Florida
25            Jack Murphy Stadium        San Diego  California
26               Stanford Stadium        Palo Alto  California
27             Pontiac Silverdome          Pontiac    Michigan
28                    Orange Bowl            Miami     Florida
29                      Superdome      New Orleans   Louisiana
30                 Tulane Stadium      New Orleans   Louisiana
31                   Rice Stadium          Houston       Texas
32              Memorial Coliseum      Los Angeles  California

In [17]:
from sqlalchemy.ext.declarative import declarative_base

# Run process of mapping existing tables in a database to class and give us tools to declare new tables schema
Base = declarative_base()

In [27]:
# Add tools of mapping variablis types from databse to Python => declare new table schema
from sqlalchemy import Column, Integer, Float, String, Date
from sqlalchemy import ForeignKey
from sqlalchemy import Sequence, CheckConstraint, UniqueConstraint

# TEAM           (id_team, name)
# MATCH          (id_match, date, sb)
# MATCH'S RESULT (id, id_match, id_stadium, winner (id_team), winner points, loser(id_team), loser points, mvp)
# STADIUM        (id_stadium, stadium name, city, state)

In [19]:
# table "TEAM" initialization

class Team(Base):
    __tablename__ = "teams"
    id            = Column(Integer, primary_key=True)
    team_name     = Column(String(50))

    def __repr__(self):
        return "<teams(id='{0}', name={1})>".format(self.id, self.team_name)

In [20]:
# table "MATCH" initialization

class Match(Base):
    __tablename__ = "matches"
    __table_args__ = (
        CheckConstraint('len(date) > 0'),
        UniqueConstraint('sb'),
    )
    id            = Column(Integer, primary_key = True)
    date          = Column(Date, nullable = False)
    sb            = Column(String(50), nullable = False)

    def __repr__(self):
        return "<matches(id='{0}', date={1}, sb={2})>".format(self.id, self.date, self.sb)

In [21]:
# table "MATCH RESULT" initialization

class MatchResult(Base):
    __tablename__ = "match_results"
    __table_args__ = (
        CheckConstraint('len(winner_points) > 0'),
        CheckConstraint('len(loser_points) > 0'),
        CheckConstraint('len(mvp) > 0'),
    )
    id            = Column(Integer, primary_key=True)
    id_match      = Column(Integer, ForeignKey("matches.id"))
    id_stadium    = Column(Integer, ForeignKey("stadiums.id"))
    id_winner        = Column(Integer, ForeignKey("teams.id"))
    winner_points = Column(Integer, nullable = False)
    id_loser         = Column(Integer, ForeignKey("teams.id"))
    loser_points  = Column(Integer, nullable = False)
    mvp           = Column(String(50), nullable = False)

    def __repr__(self):
        return "<match_results(id='{0}', id_match={1}, id_stadium={2}, winner={3},winner_points={4}, loser={5}, loser_points={6}, mvp={7})>".format(
            self.id, self.id_match, self.id_stadium, self.winner, self.winner_points, self.loser, self.loser_points, self.mvp)

In [22]:
# table "STADIUM" initialization

class Stadium(Base):
    __tablename__ = "stadiums"
    __table_args__ = (
        UniqueConstraint('stadium_name'),
        CheckConstraint('len(city) > 0'),
        CheckConstraint('len(state) > 0'),
    )
    id            = Column(Integer, primary_key=True)
    stadium_name  = Column(String(50), nullable = False)
    city          = Column(String(50), nullable = False)
    state         = Column(String(50), nullable = False)

    def __repr__(self):
        return "<matches(id='{0}', name={1}, city={2}, state={3})>".format(
            self.id, self.stadium_name, self.city, self.state)

In [23]:
# Full schema of table in database
Base.metadata.create_all(engine)

In [71]:
match_list.to_sql('matches', engine, if_exists='append')
match_result_list.to_sql('match_results', engine, if_exists='append')
stadium_list.to_sql('stadiums', engine, if_exists='append')

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "index" of relation "matches" does not exist
LINE 1: INSERT INTO matches (index, "Date", "SB") VALUES (0, 'Feb 2 ...
                             ^

[SQL: INSERT INTO matches (index, "Date", "SB") VALUES (%(index)s, %(Date)s, %(SB)s)]
[parameters: ({'index': 0, 'Date': 'Feb 2 2020', 'SB': 'LIV (54)'}, {'index': 1, 'Date': 'Feb 3 2019', 'SB': 'LIII (53)'}, {'index': 2, 'Date': 'Feb 4 2018', 'SB': 'LII (52)'}, {'index': 3, 'Date': 'Feb 5 2017', 'SB': 'LI (51)'}, {'index': 4, 'Date': 'Feb 7 2016', 'SB': '50'}, {'index': 5, 'Date': 'Feb 1 2015', 'SB': 'XLIX (49)'}, {'index': 6, 'Date': 'Feb 2 2014', 'SB': 'XLVIII (48)'}, {'index': 7, 'Date': 'Feb 3 2013', 'SB': 'XLVII (47)'}  ... displaying 10 of 54 total bound parameter sets ...  {'index': 52, 'Date': 'Jan 14 1968', 'SB': 'II (2)'}, {'index': 53, 'Date': 'Jan 15 1967', 'SB': 'I (1)'})]
(Background on this error at: http://sqlalche.me/e/f405)