In [1]:
# ADVANCED DATABASES - LAB #4 #5
# Analysis of input data and constraints of columns
# Continuation of lab #3

# Data set: (len(your_name) + len(your_surname))% 6 = (6+4)%6
# Data set: 4 ,,superbowl-history-1967-2020"

In [2]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

# database_type://user:password@database_url:port/database_name
db_string = "postgresql://postgres:postgres@localhost:5432/postgres"

engine = create_engine(db_string)

In [3]:
# Read data from superbowl.csv
import pandas as pd

df = pd.read_csv("superbowl.csv")

In [4]:
df.head()

,Date,SB,Winner,Winner Pts,Loser,Loser Pts,MVP,Stadium,City,State
0,Feb 2 2020,LIV (54),Kansas City Chiefs,31,San Francisco 49ers,20,Patrick Mahomes,Hard Rock Stadium,Miami Gardens,Florida
1,Feb 3 2019,LIII (53),New England Patriots,13,Los Angeles Rams,3,Julian Edelman,Mercedes-Benz Stadium,Atlanta,Georgia
2,Feb 4 2018,LII (52),Philadelphia Eagles,41,New England Patriots,33,Nick Foles,U.S. Bank Stadium,Minneapolis,Minnesota
3,Feb 5 2017,LI (51),New England Patriots,34,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas
4,Feb 7 2016,50,Denver Broncos,24,Carolina Panthers,10,Von Miller,Levi's Stadium,Santa Clara,California

In [5]:
print(df.columns)

Index(['Date', 'SB', 'Winner', 'Winner Pts', 'Loser', 'Loser Pts', 'MVP',
       'Stadium', 'City', 'State'],
      dtype='object')

In [6]:
from sqlalchemy.ext.declarative import declarative_base

# Run process of mapping existing tables in a database to class and give us tools to declare new tables schema
Base = declarative_base()

In [7]:
# Add tools of mapping variablis types from databse to Python => declare new table schema
from sqlalchemy import Column, Integer, Float, String, Date
from sqlalchemy import ForeignKey
from sqlalchemy import Sequence, CheckConstraint, UniqueConstraint

# TEAM           (id_team, name)
# MATCH          (id_match, date, sb)
# MATCH'S RESULT (id, id_match, id_stadium, winner (id_team), winner points, loser(id_team), loser points, mvp)
# STADIUM        (id_stadium, stadium name, city, state)

In [8]:
# table "TEAM" initialization

class Team(Base):
    __tablename__ = "teams"
    id            = Column(Integer, primary_key=True)
    team_name     = Column(String(50))

    def __repr__(self):
        return "<teams(id='{0}', name={1})>".format(self.id, self.team_name)

In [9]:
# table "MATCH" initialization

class Match(Base):
    __tablename__ = "matches"
    __table_args__ = (
        UniqueConstraint('sb'),
    )
    id            = Column(Integer, primary_key = True)
    date          = Column(Date, nullable = False)
    sb            = Column(String(50), nullable = False)

    def __repr__(self):
        return "<matches(id='{0}', date={1}, sb={2})>".format(self.id, self.date, self.sb)

In [10]:
# table "STADIUM" initialization

class Stadium(Base):
    __tablename__ = "stadiums"
    __table_args__ = (
        CheckConstraint('length(city) > 0'),
        CheckConstraint('length(state) > 0'),
    )
    id            = Column(Integer, primary_key=True)
    stadium_name  = Column(String(50), nullable = False)
    city          = Column(String(50), nullable = False)
    state         = Column(String(50), nullable = False)

    def __repr__(self):
        return "<matches(id='{0}', name={1}, city={2}, state={3})>".format(
            self.id, self.stadium_name, self.city, self.state)

In [11]:
# table "MATCH RESULT" initialization

class MatchResult(Base):
    __tablename__ = "match_results"
    __table_args__ = (
        CheckConstraint('winner_points > 0'),
        CheckConstraint('loser_points > 0'),
        CheckConstraint('length(mvp) > 0'),
    )
    id            = Column(Integer, primary_key=True)
    id_match      = Column(Integer, ForeignKey("matches.id"))
    date          = Column(Date, nullable = False)
    id_stadium    = Column(Integer, ForeignKey("stadiums.id"))
    id_winner     = Column(Integer, ForeignKey("teams.id"))
    winner_points = Column(Integer, nullable = False)
    id_loser      = Column(Integer, ForeignKey("teams.id"))
    loser_points  = Column(Integer, nullable = False)
    mvp           = Column(String(50), nullable = False)

    def __repr__(self):
        return "<match_results(id='{0}', id_match={1}, id_stadium={2}, winner={3},winner_points={4}, loser={5}, loser_points={6}, mvp={7})>".format(
            self.id, self.id_match, self.id_stadium, self.winner, self.winner_points, self.loser, self.loser_points, self.mvp)

In [12]:
# Full schema of table in database
Base.metadata.create_all(engine)

In [13]:
engine.table_names()

['matches', 'stadiums', 'teams', 'match_results']

In [14]:
# TEAM TABLE

winner_list = df['Winner'].unique()
print(winner_list)

['Kansas City Chiefs' 'New England Patriots' 'Philadelphia Eagles'
 'Denver Broncos' 'Seattle Seahawks' 'Baltimore Ravens' 'New York Giants'
 'Green Bay Packers' 'New Orleans Saints' 'Pittsburgh Steelers'
 'Indianapolis Colts' 'Tampa Bay Buccaneers' 'St. Louis Rams'
 'Dallas Cowboys' 'San Francisco 49ers' 'Washington Redskins'
 'Chicago Bears' 'Los Angeles Raiders' 'Oakland Raiders' 'Miami Dolphins'
 'Baltimore Colts' 'New York Jets']

In [15]:
loser_list = df['Loser'].unique()
print(loser_list)

['San Francisco 49ers' 'Los Angeles Rams' 'New England Patriots'
 'Atlanta Falcons' 'Carolina Panthers' 'Seattle Seahawks' 'Denver Broncos'
 'Pittsburgh Steelers' 'Indianapolis Colts' 'Arizona Cardinals'
 'Chicago Bears' 'Philadelphia Eagles' 'Oakland Raiders' 'St. Louis Rams'
 'New York Giants' 'Tennessee Titans' 'Green Bay Packers'
 'San Diego Chargers' 'Buffalo Bills' 'Cincinnati Bengals'
 'Miami Dolphins' 'Washington Redskins' 'Dallas Cowboys'
 'Minnesota Vikings' 'Baltimore Colts' 'Kansas City Chiefs']

In [16]:
# Add winner_list and loser_list to obtain team_list
import numpy as np

team_list = np.concatenate((winner_list, loser_list))
print(team_list)

['Kansas City Chiefs' 'New England Patriots' 'Philadelphia Eagles'
 'Denver Broncos' 'Seattle Seahawks' 'Baltimore Ravens' 'New York Giants'
 'Green Bay Packers' 'New Orleans Saints' 'Pittsburgh Steelers'
 'Indianapolis Colts' 'Tampa Bay Buccaneers' 'St. Louis Rams'
 'Dallas Cowboys' 'San Francisco 49ers' 'Washington Redskins'
 'Chicago Bears' 'Los Angeles Raiders' 'Oakland Raiders' 'Miami Dolphins'
 'Baltimore Colts' 'New York Jets' 'San Francisco 49ers'
 'Los Angeles Rams' 'New England Patriots' 'Atlanta Falcons'
 'Carolina Panthers' 'Seattle Seahawks' 'Denver Broncos'
 'Pittsburgh Steelers' 'Indianapolis Colts' 'Arizona Cardinals'
 'Chicago Bears' 'Philadelphia Eagles' 'Oakland Raiders' 'St. Louis Rams'
 'New York Giants' 'Tennessee Titans' 'Green Bay Packers'
 'San Diego Chargers' 'Buffalo Bills' 'Cincinnati Bengals'
 'Miami Dolphins' 'Washington Redskins' 'Dallas Cowboys'
 'Minnesota Vikings' 'Baltimore Colts' 'Kansas City Chiefs']

In [17]:
# Change numpy arrays (*_list) to data frames
team_list_data_frame = pd.DataFrame({'team_name':team_list}).drop_duplicates()
team_list_data_frame = team_list_data_frame.reset_index().drop(columns = ['index'])
team_list_data_frame.index.name = 'id'
print(team_list_data_frame)

               team_name
id
0     Kansas City Chiefs
1   New England Patriots
2    Philadelphia Eagles
3         Denver Broncos
4       Seattle Seahawks
5       Baltimore Ravens
6        New York Giants
7      Green Bay Packers
8     New Orleans Saints
9    Pittsburgh Steelers
10    Indianapolis Colts
11  Tampa Bay Buccaneers
12        St. Louis Rams
13        Dallas Cowboys
14   San Francisco 49ers
15   Washington Redskins
16         Chicago Bears
17   Los Angeles Raiders
18       Oakland Raiders
19        Miami Dolphins
20       Baltimore Colts
21         New York Jets
22      Los Angeles Rams
23       Atlanta Falcons
24     Carolina Panthers
25     Arizona Cardinals
26      Tennessee Titans
27    San Diego Chargers
28         Buffalo Bills
29    Cincinnati Bengals
30     Minnesota Vikings

In [18]:
team_list_data_frame.to_sql('teams', engine, if_exists='append')

In [19]:
# Table "MATCH"
match_list = df[['Date', 'SB']].drop_duplicates()
match_list.index.name = 'id'
match_list = match_list.rename(columns = {'Date': 'date', 'SB':'sb'})
print(match_list)

           date            sb
id
0    Feb 2 2020      LIV (54)
1    Feb 3 2019     LIII (53)
2    Feb 4 2018      LII (52)
3    Feb 5 2017       LI (51)
4    Feb 7 2016            50
5    Feb 1 2015     XLIX (49)
6    Feb 2 2014   XLVIII (48)
7    Feb 3 2013    XLVII (47)
8    Feb 5 2012     XLVI (46)
9    Feb 6 2011      XLV (45)
10   Feb 7 2010     XLIV (44)
11   Feb 1 2009    XLIII (43)
12   Feb 3 2008     XLII (42)
13   Feb 4 2007      XLI (41)
14   Feb 5 2006       XL (40)
15   Feb 6 2005    XXXIX (39)
16   Feb 1 2004  XXXVIII (38)
17  Jan 26 2003   XXXVII (37)
18   Feb 3 2002    XXXVI (36)
19  Jan 28 2001     XXXV (35)
20  Jan 30 2000    XXXIV (34)
21  Jan 31 1999   XXXIII (33)
22  Jan 25 1998    XXXII (32)
23  Jan 26 1997     XXXI (31)
24  Jan 28 1996      XXX (30)
25  Jan 29 1995     XXIX (29)
26  Jan 30 1994   XXVIII (28)
27  Jan 31 1993    XXVII (27)
28  Jan 26 1992     XXVI (26)
29  Jan 27 1991      XXV (25)
30  Jan 28 1990     XXIV (24)
31  Jan 22 1989    XXIII (23)
32  Jan 31 1988     XXII (22)
33  Jan 25 1987      XXI (21)
34  Jan 26 1986       XX (20)
35  Jan 20 1985      XIX (19)
36  Jan 22 1984    XVIII (18)
37  Jan 30 1983     XVII (17)
38  Jan 24 1982      XVI (16)
39  Jan 25 1981       XV (15)
40  Jan 20 1980      XIV (14)
41  Jan 21 1979     XIII (13)
42  Jan 15 1978      XII (12)
43   Jan 9 1977       XI (11)
44  Jan 18 1976        X (10)
45  Jan 12 1975        IX (9)
46  Jan 13 1974      VIII (8)
47  Jan 14 1973       VII (7)
48  Jan 16 1972        VI (6)
49  Jan 17 1971         V (5)
50  Jan 11 1970        IV (4)
51  Jan 12 1969       III (3)
52  Jan 14 1968        II (2)
53  Jan 15 1967         I (1)

In [20]:
match_list.to_sql('matches', engine, if_exists='append')

In [21]:
# Table "STADIUM"
stadium_list = df[['Stadium', 'City', 'State']]
stadium_list.index.name = 'id'
stadium_list = stadium_list.rename(columns = {'Stadium': 'stadium_name', 'City':'city', 'State':'state'})
print(stadium_list)

                     stadium_name             city       state
id
0               Hard Rock Stadium    Miami Gardens     Florida
1           Mercedes-Benz Stadium          Atlanta     Georgia
2               U.S. Bank Stadium      Minneapolis   Minnesota
3                     NRG Stadium          Houston       Texas
4                  Levi's Stadium      Santa Clara  California
5   University of Phoenix Stadium         Glendale     Arizona
6                 MetLife Stadium  East Rutherford  New Jersey
7         Mercedes-Benz Superdome      New Orleans   Louisiana
8               Lucas Oil Stadium     Indianapolis     Indiana
9                 Cowboys Stadium        Arlington       Texas
10               Sun Life Stadium    Miami Gardens     Florida
11          Raymond James Stadium            Tampa     Florida
12  University of Phoenix Stadium         Glendale     Arizona
13                Dolphin Stadium    Miami Gardens     Florida
14                     Ford Field          Detroit    Michigan
15                 Alltel Stadium     Jacksonville     Florida
16                Reliant Stadium          Houston       Texas
17               Qualcomm Stadium        San Diego  California
18            Louisiana Superdome      New Orleans   Louisiana
19          Raymond James Stadium            Tampa     Florida
20                   Georgia Dome          Atlanta     Georgia
21             Pro Player Stadium    Miami Gardens     Florida
22               Qualcomm Stadium        San Diego  California
23            Louisiana Superdome      New Orleans   Louisiana
24              Sun Devil Stadium            Tempe     Arizona
25             Joe Robbie Stadium    Miami Gardens     Florida
26                   Georgia Dome          Atlanta     Georgia
27                      Rose Bowl         Pasadena  California
28                      Metrodome      Minneapolis   Minnesota
29                  Tampa Stadium            Tampa     Florida
30            Louisiana Superdome      New Orleans   Louisiana
31             Joe Robbie Stadium    Miami Gardens     Florida
32            Jack Murphy Stadium        San Diego  California
33                      Rose Bowl         Pasadena  California
34            Louisiana Superdome      New Orleans   Louisiana
35               Stanford Stadium        Palo Alto  California
36                  Tampa Stadium            Tampa     Florida
37                      Rose Bowl         Pasadena  California
38             Pontiac Silverdome          Pontiac    Michigan
39            Louisiana Superdome      New Orleans   Louisiana
40                      Rose Bowl         Pasadena  California
41                    Orange Bowl            Miami     Florida
42                      Superdome      New Orleans   Louisiana
43                      Rose Bowl         Pasadena  California
44                    Orange Bowl            Miami     Florida
45                 Tulane Stadium      New Orleans   Louisiana
46                   Rice Stadium          Houston       Texas
47              Memorial Coliseum      Los Angeles  California
48                 Tulane Stadium      New Orleans   Louisiana
49                    Orange Bowl            Miami     Florida
50                 Tulane Stadium      New Orleans   Louisiana
51                    Orange Bowl            Miami     Florida
52                    Orange Bowl            Miami     Florida
53              Memorial Coliseum      Los Angeles  California

In [22]:
stadium_list.to_sql('stadiums', engine, if_exists='append')

In [23]:
# Table "MATCH RESULT"
match_result_list = df[['Date', 'Winner Pts', 'Loser Pts', 'MVP']]
match_result_list.index.name = 'id'
match_result_list = match_result_list.rename(columns = {'Date': 'date', 'Winner Pts':'winner_points', 'Loser Pts':'loser_points', 'MVP':'mvp'})
print(match_result_list)

           date  winner_points  loser_points                        mvp
id
0    Feb 2 2020             31            20            Patrick Mahomes
1    Feb 3 2019             13             3             Julian Edelman
2    Feb 4 2018             41            33                 Nick Foles
3    Feb 5 2017             34            28                  Tom Brady
4    Feb 7 2016             24            10                 Von Miller
5    Feb 1 2015             28            24                  Tom Brady
6    Feb 2 2014             43             8              Malcolm Smith
7    Feb 3 2013             34            31                 Joe Flacco
8    Feb 5 2012             21            17                Eli Manning
9    Feb 6 2011             31            25              Aaron Rodgers
10   Feb 7 2010             31            17                 Drew Brees
11   Feb 1 2009             27            23            Santonio Holmes
12   Feb 3 2008             17            14                Eli Manning
13   Feb 4 2007             29            17             Peyton Manning
14   Feb 5 2006             21            10                 Hines Ward
15   Feb 6 2005             24            21               Deion Branch
16   Feb 1 2004             32            29                  Tom Brady
17  Jan 26 2003             48            21             Dexter Jackson
18   Feb 3 2002             20            17                  Tom Brady
19  Jan 28 2001             34             7                 Ray Lewis+
20  Jan 30 2000             23            16               Kurt Warner+
21  Jan 31 1999             34            19                John Elway+
22  Jan 25 1998             31            24             Terrell Davis+
23  Jan 26 1997             35            21             Desmond Howard
24  Jan 28 1996             27            17                Larry Brown
25  Jan 29 1995             49            26               Steve Young+
26  Jan 30 1994             30            13              Emmitt Smith+
27  Jan 31 1993             52            17               Troy Aikman+
28  Jan 26 1992             37            24                Mark Rypien
29  Jan 27 1991             20            19             Ottis Anderson
30  Jan 28 1990             55            10               Joe Montana+
31  Jan 22 1989             20            16                Jerry Rice+
32  Jan 31 1988             42            10              Doug Williams
33  Jan 25 1987             39            20                 Phil Simms
34  Jan 26 1986             46            10              Richard Dent+
35  Jan 20 1985             38            16               Joe Montana+
36  Jan 22 1984             38             9              Marcus Allen+
37  Jan 30 1983             27            17              John Riggins+
38  Jan 24 1982             26            21               Joe Montana+
39  Jan 25 1981             27            10               Jim Plunkett
40  Jan 20 1980             31            19            Terry Bradshaw+
41  Jan 21 1979             35            31            Terry Bradshaw+
42  Jan 15 1978             27            10  Harvey MartinRandy White+
43   Jan 9 1977             32            14          Fred Biletnikoff+
44  Jan 18 1976             21            17                Lynn Swann+
45  Jan 12 1975             16             6             Franco Harris+
46  Jan 13 1974             24             7              Larry Csonka+
47  Jan 14 1973             14             7                 Jake Scott
48  Jan 16 1972             24             3            Roger Staubach+
49  Jan 17 1971             16            13               Chuck Howley
50  Jan 11 1970             23             7                Len Dawson+
51  Jan 12 1969             16             7                Joe Namath+
52  Jan 14 1968             33            14                Bart Starr+
53  Jan 15 1967             35            10                Bart Starr+

In [24]:
match_result_list.to_sql('match_results', engine, if_exists='append')