In [17]:
# ADVANCED DATABASES - LAB #2
# Introdaction to SQLAlchemy


# SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.

# It provides a full suite of well known enterprise-level persistence patterns, designed for efficient and high-performing database access,
# adapted into a simple and Pythonic domain language.

# Object Relational Mapper (ORM) is a programming technique for converting data between incompatible type systems
# using object-oriented programming languages. This creates, in effect, a "virtual object database"
# that can be used from within the programming language.

In [18]:
#EXERCISE 1
# Create a script to connection with database

from sqlalchemy import create_engine

db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"
db = create_engine(db_string)

In [19]:
print(db.table_names())

['staff', 'category', 'film_category', 'country', 'actor', 'language', 'store', 'rental', 'city', 'address', 'film_actor', 'payment', 'users', 'film', 'customer', 'inventory']

In [20]:
from sqlalchemy import MetaData, Table

metadata = MetaData()
category = Table("category", metadata, autoload=True, autoload_with=db)
film = Table("film", metadata, autoload=True, autoload_with=db)

In [21]:
print(repr(category))

Table('category', MetaData(bind=None), Column('category_id', INTEGER(), table=<category>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f05d60fa690>, for_update=False)), Column('name', VARCHAR(length=25), table=<category>, nullable=False), Column('last_update', TIMESTAMP(), table=<category>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f05d60fa8d0>, for_update=False)), schema=None)

In [22]:
print(category.columns.keys())

['category_id', 'name', 'last_update']

In [23]:
#Exercise 2
#in brackets are keys. eg. staff - table with key - address_id connect to address - table via key - address_id
#answer below
#staff(address_id)address(city_id)city(country_idcountry
#actor(actor_id)film_actor(film_id)film(language_id)language

In [24]:
#Exercise 3
stmt = 'select count(distinct c.name) from category c join film_category fc on (c.category_id=fc.category_id) join film f on (fc.film_id=f.film_id) join inventory i on (f.film_id=i.film_id) join rental r on (i.inventory_id=r.inventory_id)'
results = db.execute(stmt).fetchall()
print(results)

[(16,)]

In [25]:
#Exercise 4
stmt2 = 'select distinct c.name from category c join film_category fc on (c.category_id=fc.category_id) join film f on (fc.film_id=f.film_id) join inventory i on (f.film_id=i.film_id) join rental r on (i.inventory_id=r.inventory_id)'
results = db.execute(stmt2).fetchmany(size=2)
print(results)

[('Horror',), ('Comedy',)]

In [26]:
#Exercise 5
stmt3 = 'select f.title, min(f.release_year) as min_year from category c join film_category fc on (c.category_id=fc.category_id) join film f on (fc.film_id=f.film_id) join inventory i on (f.film_id=i.film_id) join rental r on (i.inventory_id=r.inventory_id) group by f.title'
results = db.execute(stmt3).fetchmany(size=3)
print(results)

stmt4 = 'select f.title, max(f.release_year) as max_year from category c join film_category fc on (c.category_id=fc.category_id) join film f on (fc.film_id=f.film_id) join inventory i on (f.film_id=i.film_id) join rental r on (i.inventory_id=r.inventory_id) group by f.title'
results = db.execute(stmt4).fetchmany(size=3)
print(results)
#all filmsare from 2006;/

[('Frontier Cabin', 2006), ('Cruelty Unforgiven', 2006), ('Arachnophobia Rollercoaster', 2006)]
[('Frontier Cabin', 2006), ('Cruelty Unforgiven', 2006), ('Arachnophobia Rollercoaster', 2006)]

In [27]:
#Exercise 6
from sqlalchemy.sql import select
from sqlalchemy import or_
actor = Table("actor", metadata , autoload=True, autoload_with=db)
stmt = select([actor])
stmt = stmt.where(or_(actor.c.first_name == 'Olympia', actor.c.first_name == 'Julia', actor.c.first_name == 'Ellen'))
results = db.execute(stmt).fetchall()
for result in results:
    print(result)
    
#correction check of a querry
print(stmt)

(27, 'Julia', 'Mcqueen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(47, 'Julia', 'Barrymore', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(93, 'Ellen', 'Presley', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(171, 'Olympia', 'Pfeiffer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(186, 'Julia', 'Zellweger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(199, 'Julia', 'Fawcett', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
SELECT actor.actor_id, actor.first_name, actor.last_name, actor.last_update
FROM actor
WHERE actor.first_name = :first_name_1 OR actor.first_name = :first_name_2 OR actor.first_name = :first_name_3