In [1]:
# ADVANCED DATABASES - LAB #3
# Creating database and normalization

# Data set: (len(your_name) + len(your_surname))% 6 = (6+4)%6
# Data set: 4 ,,superbowl-history-1967-2020"

In [2]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

# database_type://user:password@database_url:port/database_name
db_string = "postgresql://postgres:postgres@localhost:5432/postgres"

engine = create_engine(db_string)

In [3]:
import pandas as pd
df = pd.read_csv("superbowl.csv")

In [4]:
df.head()

,Date,SB,Winner,Winner Pts,Loser,Loser Pts,MVP,Stadium,City,State
0,Feb 2 2020,LIV (54),Kansas City Chiefs,31,San Francisco 49ers,20,Patrick Mahomes,Hard Rock Stadium,Miami Gardens,Florida
1,Feb 3 2019,LIII (53),New England Patriots,13,Los Angeles Rams,3,Julian Edelman,Mercedes-Benz Stadium,Atlanta,Georgia
2,Feb 4 2018,LII (52),Philadelphia Eagles,41,New England Patriots,33,Nick Foles,U.S. Bank Stadium,Minneapolis,Minnesota
3,Feb 5 2017,LI (51),New England Patriots,34,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas
4,Feb 7 2016,50,Denver Broncos,24,Carolina Panthers,10,Von Miller,Levi's Stadium,Santa Clara,California

In [5]:
from sqlalchemy.ext.declarative import declarative_base

# Run process of mapping existing tables in a database to class and give us tools to declare new tables schema
Base = declarative_base()

In [6]:
# Add tools of mapping variablis types from databse to Python => declare new table schema
from sqlalchemy import Column, Integer, Float, String, Date
from sqlalchemy import ForeignKey

# TEAM           (id_team, name)
# MATCH          (id_match, date, sb)
# MATCH'S RESULT (id, id_match, id_stadium, winner (id_team), winner points, loser(id_team), loser points, mvp)
# STADIUM        (id_stadium, stadium name, city, state)

In [7]:
# table "TEAM" initialization

class Team(Base):
    __tablename__ = "teams"
    id            = Column(Integer, primary_key=True)
    team_name     = Column(String(50))

    def __repr__(self):
        return "<teams(id='{0}', name={1})>".format(self.id, self.team_name)

In [8]:
# table "MATCH" initialization

class Match(Base):
    __tablename__ = "matches"
    id            = Column(Integer, primary_key=True)
    date          = Column(Date)
    sb            = Column(String(50))

    def __repr__(self):
        return "<matches(id='{0}', date={1}, sb={2})>".format(self.id, self.date, self.sb)

In [9]:
# table "MATCH RESULT" initialization

class MatchResult(Base):
    __tablename__ = "match_results"
    id            = Column(Integer, primary_key=True)
    id_match      = Column(Integer, ForeignKey("matches.id"))
    id_stadium    = Column(Integer, ForeignKey("stadiums.id"))
    winner        = Column(Integer, ForeignKey("teams.id"))
    winner_points = Column(Integer)
    loser         = Column(Integer, ForeignKey("teams.id"))
    loser_points  = Column(Integer)
    mvp           = Column(String(50))

    def __repr__(self):
        return "<match_results(id='{0}', id_match={1}, id_stadium={2}, winner={3},winner_points={4}, loser={5}, loser_points={6}, mvp={7})>".format(
            self.id, self.id_match, self.id_stadium, self.winner, self.winner_points, self.loser, self.loser_points, self.mvp)

In [10]:
# table "STADIUM" initialization

class Stadium(Base):
    __tablename__ = "stadiums"
    id            = Column(Integer, primary_key=True)
    stadium_name  = Column(String(50))
    city          = Column(String(50))
    state         = Column(String(50))

    def __repr__(self):
        return "<matches(id='{0}', name={1}, city={2}, state={3})>".format(
            self.id, self.stadium_name, self.city, self.state)

In [11]:
# Full schema of table in database
Base.metadata.create_all(engine)

In [12]:
# Session establishes all conversations with the database.
# To create this mechanizm we use:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

In [13]:
# Read data from superbowl.csv
import pandas as pd

df = pd.read_csv("superbowl.csv")
df.head()

,Date,SB,Winner,Winner Pts,Loser,Loser Pts,MVP,Stadium,City,State
0,Feb 2 2020,LIV (54),Kansas City Chiefs,31,San Francisco 49ers,20,Patrick Mahomes,Hard Rock Stadium,Miami Gardens,Florida
1,Feb 3 2019,LIII (53),New England Patriots,13,Los Angeles Rams,3,Julian Edelman,Mercedes-Benz Stadium,Atlanta,Georgia
2,Feb 4 2018,LII (52),Philadelphia Eagles,41,New England Patriots,33,Nick Foles,U.S. Bank Stadium,Minneapolis,Minnesota
3,Feb 5 2017,LI (51),New England Patriots,34,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas
4,Feb 7 2016,50,Denver Broncos,24,Carolina Panthers,10,Von Miller,Levi's Stadium,Santa Clara,California

In [14]:
# Read data from csv and write to database
for index, row in df.iterrows():
    # MATCH
    date_ = row['Date']
    sb_ = row['SB']
    #print('[DEBUG] ', date_, '|', sb_)
    match = Match(date = date_, sb = sb_)
    session.add(match)
    
# Commit changes to the database
session.commit()

In [15]:
# Add 31 teams to the database
team1  = Team(team_name = 'Arizona Cardinals')
team2  = Team(team_name = 'Atlanta Falcons')
team3  = Team(team_name = 'Baltimore Colts')
team4  = Team(team_name = 'Baltimore Ravens')
team5  = Team(team_name = 'Buffalo Bills')

team6  = Team(team_name = 'Carolina Panthers')
team7  = Team(team_name = 'Chicago Bears')
team8  = Team(team_name = 'Cincinnati Bengals')
team9  = Team(team_name = 'Dallas Cowboys')
team10  = Team(team_name = 'Denver Broncos')

team11  = Team(team_name = 'Green Bay Packers')
team12  = Team(team_name = 'Indianapolis Colts')
team13  = Team(team_name = 'Kansas City Chiefs')
team14  = Team(team_name = 'Los Angeles Raiders')
team15  = Team(team_name = 'Los Angeles Rams')

team16  = Team(team_name = 'Miami Dolphins')
team17  = Team(team_name = 'Minnesota Vikings')
team18  = Team(team_name = 'New England Patriots')
team19  = Team(team_name = 'New Orleans Saints')
team20  = Team(team_name = 'New York Giants')

team21  = Team(team_name = 'New York Jets')
team22  = Team(team_name = 'Oakland Raiders')
team23  = Team(team_name = 'Philadelphia Eagles')
team24  = Team(team_name = 'Pittsburgh Steelers')
team25  = Team(team_name = 'San Diego Chargers')

team26  = Team(team_name = 'San Francisco 49ers')
team27  = Team(team_name = 'Seattle Seahawks')
team28  = Team(team_name = 'St. Louis Rams')
team29  = Team(team_name = 'Tampa Bay Buccaneers')
team30  = Team(team_name = 'Tennessee Titans')

team31  = Team(team_name = 'Washington Redskins')

In [16]:
session.add(team1)
session.add(team2)
session.add(team3)
session.add(team4)
session.add(team5)
session.add(team6)
session.add(team7)
session.add(team8)
session.add(team9)
session.add(team10)
session.add(team11)
session.add(team12)
session.add(team13)
session.add(team14)
session.add(team15)
session.add(team16)
session.add(team17)
session.add(team18)
session.add(team19)
session.add(team20)
session.add(team21)
session.add(team22)
session.add(team23)
session.add(team24)
session.add(team25)
session.add(team26)
session.add(team27)
session.add(team28)
session.add(team29)
session.add(team30)
session.add(team31)

# Commit changes to the database
session.commit()

In [17]:
# Add 33 stadiums to the database
stadium1  = Stadium(stadium_name = 'Alltel Stadium', city = 'Jacksonville', state = 'Florida')
stadium2  = Stadium(stadium_name = 'Cowboys Stadium', city = 'Arlington', state = 'Texas')
stadium3  = Stadium(stadium_name = 'Dolphin Stadium', city = 'Miami Gardens', state = 'Florida')
stadium4  = Stadium(stadium_name = 'Ford Field', city = 'Detroit', state = 'Michigan')
stadium5  = Stadium(stadium_name = 'Georgia Dome', city = 'Atlanta', state = 'Georgia')

stadium6  = Stadium(stadium_name = 'Hard Rock Stadium', city = 'Miami Gardens', state = 'Florida')
stadium7  = Stadium(stadium_name = 'Jack Murphy Stadium', city = 'San Diego', state = 'California')
stadium8  = Stadium(stadium_name = 'Joe Robbie Stadium', city = 'Miami Gardens', state = 'Florida')
stadium9  = Stadium(stadium_name = 'Levi\'s Stadium', city = 'Santa Clara', state = 'California')
stadium10  = Stadium(stadium_name = 'Louisiana Superdome', city = 'New Orleans', state = 'Louisiana')

stadium11  = Stadium(stadium_name = 'Lucas Oil Stadium', city = 'Indianapolis', state = 'Indiana')
stadium12  = Stadium(stadium_name = 'Memorial Coliseum', city = 'Los Angeles', state = 'California')
stadium13  = Stadium(stadium_name = 'Mercedes-Benz Stadium', city = 'Atlanta', state = 'Georgia')
stadium14  = Stadium(stadium_name = 'Mercedes-Benz Superdome', city = 'New Orleans', state = 'Louisiana')
stadium15  = Stadium(stadium_name = 'MetLife Stadium', city = 'East Rutherford', state = 'New Jersey')

stadium16  = Stadium(stadium_name = 'Metrodome', city = 'Minneapolis', state = 'Minnesota')
stadium17  = Stadium(stadium_name = 'NRG Stadium', city = 'Houston', state = 'Texas')
stadium18  = Stadium(stadium_name = 'Orange Bowl', city = 'Miami', state = 'Florida')
stadium19  = Stadium(stadium_name = 'Pontiac Silverdome', city = 'Pontiac', state = 'Michigan')
stadium20  = Stadium(stadium_name = 'Pro Player Stadium', city = 'Miami Gardens', state = 'Florida')

stadium21  = Stadium(stadium_name = 'Qualcomm Stadium', city = 'San Diego', state = 'California')
stadium22  = Stadium(stadium_name = 'Raymond James Stadium', city = 'Tampa', state = 'Florida')
stadium23  = Stadium(stadium_name = 'Reliant Stadium', city = 'Houston', state = 'Texas')
stadium24  = Stadium(stadium_name = 'Rice Stadium', city = 'Houston', state = 'Texas')
stadium25  = Stadium(stadium_name = 'Rose Bowl', city = 'Pasadena', state = 'California')

stadium26  = Stadium(stadium_name = 'Stanford Stadium', city = 'Palo Alto', state = 'California')
stadium27  = Stadium(stadium_name = 'Sun Devil Stadium', city = 'Tempe', state = 'Arizona')
stadium28  = Stadium(stadium_name = 'Sun Life Stadium', city = 'Miami Gardens', state = 'Florida')
stadium29  = Stadium(stadium_name = 'Superdome', city = 'New Orleans', state = 'Louisiana')
stadium30  = Stadium(stadium_name = 'Tampa Stadium', city = 'Tampa', state = 'Florida')

stadium31  = Stadium(stadium_name = 'Tulane Stadium', city = 'New Orleans', state = 'Louisiana')
stadium32  = Stadium(stadium_name = 'U.S. Bank Stadium', city = 'Minneapolis', state = 'Minnesota')
stadium33  = Stadium(stadium_name = 'University of Phoenix Stadium', city = 'Glendale', state = 'Arizona')

In [18]:
session.add(stadium1)
session.add(stadium2)
session.add(stadium3)
session.add(stadium4)
session.add(stadium5)
session.add(stadium6)
session.add(stadium7)
session.add(stadium8)
session.add(stadium9)
session.add(stadium10)
session.add(stadium11)
session.add(stadium12)
session.add(stadium13)
session.add(stadium14)
session.add(stadium15)
session.add(stadium16)
session.add(stadium17)
session.add(stadium18)
session.add(stadium19)
session.add(stadium20)
session.add(stadium21)
session.add(stadium22)
session.add(stadium23)
session.add(stadium24)
session.add(stadium25)
session.add(stadium26)
session.add(stadium27)
session.add(stadium28)
session.add(stadium29)
session.add(stadium30)
session.add(stadium31)
session.add(stadium32)
session.add(stadium33)

# Commit changes to the database
session.commit()

In [19]:
# Add 54 match's results to the database
match_result1 = MatchResult(id_match = '1', id_stadium = '6', winner = '13', winner_points = '31', loser = '26', loser_points = '20', mvp = 'Patrick Mahomes')
match_result2 = MatchResult(id_match = '2', id_stadium = '13', winner = '18', winner_points = '13', loser = '15', loser_points = '3', mvp = 'Julian Edelman')
match_result3 = MatchResult(id_match = '3', id_stadium = '32', winner = '23', winner_points = '41', loser = '28', loser_points = '33', mvp = 'Nick Foles')
match_result4 = MatchResult(id_match = '4', id_stadium = '17', winner = '18', winner_points = '34', loser = '2', loser_points = '28', mvp = 'Tom Brady')
match_result5 = MatchResult(id_match = '5', id_stadium = '9', winner = '10', winner_points = '24', loser = '6', loser_points = '10', mvp = 'Von Miller')

match_result6 = MatchResult(id_match = '6', id_stadium = '33', winner = '18', winner_points = '28', loser = '27', loser_points = '24', mvp = 'Tom Brady')
match_result7 = MatchResult(id_match = '7', id_stadium = '15', winner = '27', winner_points = '43', loser = '10', loser_points = '8', mvp = 'Malcolm Smith')
match_result8 = MatchResult(id_match = '8', id_stadium = '14', winner = '4', winner_points = '34', loser = '26', loser_points = '31', mvp = 'Joe Flacco')
match_result9 = MatchResult(id_match = '9', id_stadium = '11', winner = '20', winner_points = '21', loser = '18', loser_points = '17', mvp = 'Eli Manning')
match_result10 = MatchResult(id_match = '10', id_stadium = '2', winner = '11', winner_points = '31', loser = '24', loser_points = '25', mvp = 'Aaron Rodgers')

match_result11 = MatchResult(id_match = '11', id_stadium = '28', winner = '19', winner_points = '31', loser = '17', loser_points = '17', mvp = 'Drew Brees')
match_result12 = MatchResult(id_match = '12', id_stadium = '22', winner = '24', winner_points = '27', loser = '1', loser_points = '23', mvp = 'Santonio Holmes')
match_result13 = MatchResult(id_match = '13', id_stadium = '33', winner = '20', winner_points = '17', loser = '18', loser_points = '14', mvp = 'Eli Manning')
match_result14 = MatchResult(id_match = '14', id_stadium = '3', winner = '12', winner_points = '29', loser = '7', loser_points = '17', mvp = 'Peyton Manning')
match_result15 = MatchResult(id_match = '15', id_stadium = '4', winner = '24', winner_points = '21', loser = '27', loser_points = '10', mvp = 'Hines Ward')

match_result16 = MatchResult(id_match = '16', id_stadium = '1', winner = '18', winner_points = '24', loser = '23', loser_points = '21', mvp = 'Deion Branch')
match_result17 = MatchResult(id_match = '17', id_stadium = '23', winner = '18', winner_points = '32', loser = '6', loser_points = '29', mvp = 'Tom Brady')
match_result18 = MatchResult(id_match = '18', id_stadium = '21', winner = '29', winner_points = '48', loser = '22', loser_points = '21', mvp = 'Dexter Jackson')
match_result19 = MatchResult(id_match = '19', id_stadium = '10', winner = '18', winner_points = '20', loser = '28', loser_points = '17', mvp = 'Tom Brady')
match_result20 = MatchResult(id_match = '20', id_stadium = '22', winner = '4', winner_points = '34', loser = '20', loser_points = '7', mvp = 'Ray Lewis+')

match_result21 = MatchResult(id_match = '21', id_stadium = '5', winner = '28', winner_points = '23', loser = '30', loser_points = '16', mvp = 'Kurt Warner+')
match_result22 = MatchResult(id_match = '22', id_stadium = '20', winner = '10', winner_points = '34', loser = '2', loser_points = '19', mvp = 'John Elway+')
match_result23 = MatchResult(id_match = '23', id_stadium = '21', winner = '10', winner_points = '31', loser = '11', loser_points = '24', mvp = 'Terrell Davis+')
match_result24 = MatchResult(id_match = '24', id_stadium = '10', winner = '11', winner_points = '35', loser = '18', loser_points = '21', mvp = 'Desmond Howard')
match_result25 = MatchResult(id_match = '25', id_stadium = '27', winner = '9', winner_points = '27', loser = '24', loser_points = '17', mvp = 'Larry Brown')

match_result26 = MatchResult(id_match = '26', id_stadium = '8', winner = '26', winner_points = '49', loser = '25', loser_points = '26', mvp = 'Steve Young+')
match_result27 = MatchResult(id_match = '27', id_stadium = '5', winner = '9', winner_points = '30', loser = '5', loser_points = '13', mvp = 'Emmitt Smith+')
match_result28 = MatchResult(id_match = '28', id_stadium = '25', winner = '9', winner_points = '52', loser = '5', loser_points = '17', mvp = 'Troy Aikman+')
match_result29 = MatchResult(id_match = '29', id_stadium = '16', winner = '31', winner_points = '37', loser = '5', loser_points = '24', mvp = 'Mark Rypien')
match_result30 = MatchResult(id_match = '30', id_stadium = '30', winner = '20', winner_points = '20', loser = '5', loser_points = '19', mvp = 'Ottis Anderson')

match_result31 = MatchResult(id_match = '31', id_stadium = '10', winner = '26', winner_points = '55', loser = '10', loser_points = '10', mvp = 'Joe Montana+')
match_result32 = MatchResult(id_match = '32', id_stadium = '8', winner = '26', winner_points = '20', loser = '8', loser_points = '16', mvp = 'Jerry Rice+')
match_result33 = MatchResult(id_match = '33', id_stadium = '7', winner = '31', winner_points = '42', loser = '10', loser_points = '10', mvp = 'Doug Williams')
match_result34 = MatchResult(id_match = '34', id_stadium = '25', winner = '20', winner_points = '39', loser = '10', loser_points = '20', mvp = 'Phil Simms')
match_result35 = MatchResult(id_match = '35', id_stadium = '10', winner = '7', winner_points = '46', loser = '18', loser_points = '10', mvp = 'Richard Dent+')

match_result36 = MatchResult(id_match = '36', id_stadium = '26', winner = '26', winner_points = '38', loser = '14', loser_points = '16', mvp = 'Joe Montana+')
match_result37 = MatchResult(id_match = '37', id_stadium = '30', winner = '14', winner_points = '38', loser = '31', loser_points = '9', mvp = 'Marcus Allen+')
match_result38 = MatchResult(id_match = '38', id_stadium = '25', winner = '31', winner_points = '27', loser = '14', loser_points = '17', mvp = 'John Riggins+')
match_result39 = MatchResult(id_match = '39', id_stadium = '19', winner = '26', winner_points = '26', loser = '8', loser_points = '21', mvp = 'Joe Montana+')
match_result40 = MatchResult(id_match = '40', id_stadium = '10', winner = '22', winner_points = '27', loser = '23', loser_points = '10', mvp = 'Jim Plunkett')

match_result41 = MatchResult(id_match = '41', id_stadium = '25', winner = '24', winner_points = '31', loser = '15', loser_points = '19', mvp = 'Terry Bradshaw+')
match_result42 = MatchResult(id_match = '42', id_stadium = '18', winner = '24', winner_points = '35', loser = '9', loser_points = '31', mvp = 'Terry Bradshaw+')
match_result43 = MatchResult(id_match = '43', id_stadium = '29', winner = '9', winner_points = '27', loser = '10', loser_points = '10', mvp = 'Harvey MartinRandy White+')
match_result44 = MatchResult(id_match = '44', id_stadium = '25', winner = '22', winner_points = '32', loser = '17', loser_points = '14', mvp = 'Fred Biletnikoff+')
match_result45 = MatchResult(id_match = '45', id_stadium = '18', winner = '24', winner_points = '21', loser = '9', loser_points = '17', mvp = 'Lynn Swann+')

match_result46 = MatchResult(id_match = '46', id_stadium = '31', winner = '24', winner_points = '16', loser = '17', loser_points = '6', mvp = 'Franco Harris+')
match_result47 = MatchResult(id_match = '47', id_stadium = '24', winner = '14', winner_points = '24', loser = '17', loser_points = '7', mvp = 'Larry Csonka+')
match_result48 = MatchResult(id_match = '48', id_stadium = '12', winner = '14', winner_points = '14', loser = '31', loser_points = '7', mvp = 'Jake Scott')
match_result49 = MatchResult(id_match = '49', id_stadium = '31', winner = '9', winner_points = '24', loser = '14', loser_points = '3', mvp = 'Roger Staubach+')
match_result50  = MatchResult(id_match = '50', id_stadium = '18', winner = '3', winner_points = '16', loser = '9', loser_points = '13', mvp = 'Chuck Howley')

match_result51 = MatchResult(id_match = '51', id_stadium = '31', winner = '13', winner_points = '23', loser = '17', loser_points = '7', mvp = 'Len Dawson+')
match_result52 = MatchResult(id_match = '52', id_stadium = '18', winner = '21', winner_points = '16', loser = '3', loser_points = '7', mvp = 'Joe Namath+')
match_result53 = MatchResult(id_match = '53', id_stadium = '18', winner = '11', winner_points = '33', loser = '22', loser_points = '14', mvp = 'Bart Starr+')
match_result54 = MatchResult(id_match = '54', id_stadium = '12', winner = '11', winner_points = '35', loser = '13', loser_points = '10', mvp = 'Bart Starr+')

In [20]:
session.add(match_result1)
session.add(match_result2)
session.add(match_result3)
session.add(match_result4)
session.add(match_result5)
session.add(match_result6)
session.add(match_result7)
session.add(match_result8)
session.add(match_result9)
session.add(match_result10)
session.add(match_result11)
session.add(match_result12)
session.add(match_result13)
session.add(match_result14)
session.add(match_result15)
session.add(match_result16)
session.add(match_result17)
session.add(match_result18)
session.add(match_result19)
session.add(match_result20)
session.add(match_result21)
session.add(match_result22)
session.add(match_result23)
session.add(match_result24)
session.add(match_result25)
session.add(match_result26)
session.add(match_result27)
session.add(match_result28)
session.add(match_result29)
session.add(match_result30)
session.add(match_result31)
session.add(match_result32)
session.add(match_result33)
session.add(match_result34)
session.add(match_result35)
session.add(match_result36)
session.add(match_result37)
session.add(match_result38)
session.add(match_result39)
session.add(match_result40)
session.add(match_result41)
session.add(match_result42)
session.add(match_result43)
session.add(match_result44)
session.add(match_result45)
session.add(match_result46)
session.add(match_result47)
session.add(match_result48)
session.add(match_result49)
session.add(match_result50)
session.add(match_result51)
session.add(match_result52)
session.add(match_result53)
session.add(match_result54)

# Commit changes to the database
session.commit()